<!--{% load static %}
<div class="sidebar">
  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'OIP.jpg' %}" width="20%" height="20%" class="d-block w-50" alt="photo" />
      </div>
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="{% static 'Shirts.jpg' %}" width="60%" height="10%" class="d-block w-50" alt="photo" />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>-->
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'temp.css' %}">
  </head>
<body>
  <div class="hey">hello</div>
</body>

</html>

